modules = ["python-3.11"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Python Runner"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Python Runner Tahir"

[[workflows.workflow]]
name = "Python Runner"
author = "agent"

[workflows.workflow.metadata]
outputType = "vnc"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python l2_es_user_input.py"

[[workflows.workflow]]
name = "Python Runner Tahir"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python turtle_shapes.py"

[workflows.workflow.metadata]
outputType = "vnc"

[nix]
channel = "stable-25_05"
packages = ["tk", "xorg.libX11", "python311Full"]
